/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  padding-left: 0;
  padding-right: 0;
  
  @include breakpoint($large) {
    padding-left: 1em;
    padding-right: 1em;

  }
}

.page {
  @include breakpoint($large) {
    float: left;
  }
}

.page__content {
  background-color: $page-background-color;
  padding: $padding-page;
  border-radius: $border-radius-page;
  box-shadow: $box-shadow-page;

  h2 {
    border-bottom: none;

    &#contents {
      margin-top: 0.5em;
    }
  }

  hr {
    &:first-of-type {
      margin-top: 48px;
    }
  }

}
